<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="passengerForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                            <label for="id">Passport No:</label>
                            <input type="text" class="form-control" id="id" formControlName="id"/>
                        </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" formControlName="name"/>
                </div>
                <div class="form-group">
                        <label for="service" >Choose Service:</label>
                                <select id="service" class="form-control" formControlName="service">
                                <option *ngFor="let service of flight.services" [value]="service">{{service}}</option>
                              
                               </select>
                            </div>
                    <div class="form-group">
                            <label for="seatno">Seat No: </label>
                            <input type="text" class="form-control" id="seatno" formControlName="seatNumber"/>
                            <button routerLink="/seats">seatmap</button>
                        </div>
                   <button type="submit" class="btn btn-primary">Submit</button>     
            </form>
        </div>
    </div>
</div>
