<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name"/>
                </div>
                <div class="form-group">
                        <label for="service">Service Required:</label>
                        <input type="text" class="form-control" id="service"/>
                    </div>

                    <div class="form-group">
                            <label for="seatno">Seat No: </label>
                            <input type="text" class="form-control" id="seatno"/>
                        </div>
                   <button type="submit" class="btn btn-primary">Add Passenger</button>     
            </form>
        </div>
    </div>
</div>
