<mat-table [dataSource]="listFlight">
  <ng-container matColumnDef="Operator">
    <mat-header-cell *matHeaderCellDef>Operator</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="To">
    <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.to }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="From">
    <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.from }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Departure time">
    <mat-header-cell *matHeaderCellDef>Departure time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element.timeOfDeparture | date: "medium"
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Arrival time">
    <mat-header-cell *matHeaderCellDef>Arrival time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element.timeOfArrival | date: "medium"
    }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayFlightColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayFlightColumns"
    (click)="displayPassengers(listFlight.filteredData.indexOf(row))"
  ></mat-row>
  <mat-footer-row></mat-footer-row>
</mat-table>
